{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>What is BRAGI?</h1>
    <p>BRAGI stands for Bilingual Reality Augmentation for Global Immersion. BRAGI is an application designed to run on an augmented reality platform such as the Meta Quest 3 or Apple Vision Pro. The goal of the project is to simulate immersive language education. The scope for this specific project is a vocabulary memorization system, aiming to support word retention. Inspired by Duolingo learning units, this application presents a novel to approach to language education based on object salience as a means to expanding a users vocabulary in a foreign language.</p>
</div>
{% endblock %}
